@{
    ViewBag.Title = "Company";
}

<div class="headrow">
    <button type="button" title="Add New Company" data-url="/Common/Company/Create" onclick="GoTo(this)"class="sym-btn-add"> &nbsp;New </button>
    <label class="pull-right">Company List</label>
</div>

<div class="thinbox">
    <div class="th_thinbox">
        <p>Company List</p>
    </div>

    <table id="myDataTable" class="display">
        <thead>
            <tr>
                <th class="center">Action</th>
                <th class="center">Code</th>
                <th class="center">Name</th>
                <th class="center">Address</th>
                <th class="center">City</th>
                <th class="center">Postal Code</th>
                <th class="center">Phone</th>
                <th class="center">Mobile</th>
                <th class="center">Fax</th>
                <th class="center">Remarks</th>
                <th class="center">Active</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <br />
</div>

<div class="headrow">
    <button type="button" title="Add New Company" data-url="/Common/Company/Create" onclick="GoTo(this)" class="sym-btn-add"> &nbsp;New </button>
</div>
<script>
    $(document).ready(function () {
        var myDataTable = $('#myDataTable').dataTable({

            "bServerSide": true,
            "sAjaxSource": "/Common/Company/_index",
            "bProcessing": true,
            "aLengthMenu": tablelength(),
            "bJqueryUI": true,
            "bAutoWidth": false,

            "aoColumns": [
                            {
                                "sName": "Id",
                                "bSearchable": false,
                                "bSortable": false,
                                "sWidth": "10%",
                                "sClass": "center",
                                "fnRender": function (oObj) {
                                    return '<a title="Edit" href="/Common/Company/Edit/' + oObj.aData[0] + '" class="sym-btn-edit-row"></a>';
                                }
                            },
                { "sName": "Code" },
                { "sName": "Name" },
                { "sName": "Address" },
                { "sName": "City" },
                { "sName": "PostalCode" },
                { "sName": "Phone" },
                { "sName": "Mobile" },
                { "sName": "Fax" },
                { "sName": "Remarks" },
                { "sName": "IsActive" }
            ]
        });

    });
</script>